@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-background: #EFF4F8;
    --cor-primaria: #427C8A;
    --cor-secundaria: #000000;
    --cor-terciaria: #ffffff;
}




*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    padding: 5px;
    min-height: 100vh;
    background-color:var(--cor-background);
    color: #1a3996;
    
}

.titulo-destaque {
    color: #000000; 
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link {
    justify-content: center;
    gap: 17px;
    background-color: var(--cor-primaria);
    display:flex;
    width: 280px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #ffffff;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    
    font-family:'Krona One', sans-serif;
    
}

.minhafoto {
    
    width: 350px;
    height: 350px;
    left: 90px;
    top: 70%;
    border-radius: 50%;
    border: 5px solid #EFF4F8;
    
   
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.logo1 {
    max-width: 45px;
    height: auto;
}

.logo2 {
    max-width: 45px;
    height: auto;
}

.logo3 {
    max-width: 40px;
    height: auto;
}

.logo4 {
    max-width: 40px;
    height: auto;
}

.apresentacao__links__link:hover {
    background-color: #ADDCED;
    padding: 3%;
}

.rodape {
    font-family: 'Krona One', sans-serif;
    background-color: var(--cor-primaria);
    color: #000000;
    padding: 1px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.cabecalho {
    padding: 2% 0% 0% 5%;
    font-family:'Krona One', sans-serif;
    color: var(--cor-terciaria);
    font-size: 20px;
   
    
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    

}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-terciaria);
}

@media (max-width:1200px){
    .cabecalho {
        padding: 10%;
    }


    .cabecalho__menu {
        justify-content:center;

    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    
    
    .apresentacao__conteudo {
        width: auto;
    }
}

.apresentacao__links__ZAP:hover {
    background-color: #ADDCED;
    padding: 3%;
}

.apresentacao__links__ZAP {
    justify-content: center;
    gap: 17px;
    background-color: var(--cor-primaria);
    display:flex;
    width: 280px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #ffffff;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    
    font-family:'Krona One', sans-serif;
    
}