
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {

    min-height: 100vh;
    background:
    linear-gradient(135deg,
    #EAF7FA,
    #B8E5EF);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}



.container {

    width: 100%;
    max-width: 420px;
    background: white;
    border-radius: 25px;
    padding: 35px 25px;
    text-align: center;
    box-shadow:
    0 15px 40px rgba(0, 91, 143, 0.25);

}



.logo {

    width: 230px;
    height: 230px;
    left: 90px;
    top: 70%;
    border-radius: 50%;
    border: 5px solid #EFF4F8;
    

}



h1 {

    color: #005B8F;
    font-size: 30px;
    margin-bottom: 10px;

}



.descricao {

    color: #5c7078;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}



.links {

    display: flex;
    flex-direction: column;
    gap: 15px;

}



.btn {

    text-decoration: none;
    padding: 16px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: .3s;

}



.btn:hover {

    transform: translateY(-3px);
    filter: brightness(1.05);

}



.instagram {

    background:
    linear-gradient(45deg,
    #F58529,
    #DD2A7B,
    #8134AF);

}



.whatsapp {

    background: #18B957;

}



.google {

    background: #168AA3;

}



.footer {

    margin-top: 30px;
    font-size: 12px;
    color: #78909C;

}
    